.atc_modal.close{
    opacity: 0;
    transform: translateX(200%);
    transition: all ease-in-out 0.3s;
    height: 0;
  }
  
  .atc_modal.open{
    opacity: 1;
    transform: translateX(0);
    transition: all ease-in-out 0.3s;
  }
  
